



body{
    background-color: bisque;
    color:brown;
    padding: 50px;
    margin: 50px;
}

img{
  border-color: black;
  border-width: 8px;
  border-style: groove;
}

.icon{
  width: 50px;
  height: 50px;
}

main{
  /* background-color: aquamarine; */
  padding: 50px;
  margin: 50px;

  border-color: black;
  border-bottom: 10px;
  border-style: inset;
}


section { 
  padding: 1%;
  margin: 1%;
  text-align: center;
}

h3{
  font-size: 14pt;
  font-weight: 200px;
}


.center{
  text-align: center;
}

#pageContent{
  border: 1px solid orange;
}

#info{
  border: 1px solid rgb(231, 63, 91);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Experience{
  font-size: 26px;
  font-weight:900;
  text-align: left;

  border-color: black;
  border-width: 2px;
  border-style: solid;
}

  .bold{
    font-weight: 400;
  }



.playwrite-pt-guides-regular {
  font-family: "Playwrite PT Guides", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 30pt;
}

nav{
  display: absolute;
  position: sticky;
  background-color: rgb(182, 85, 80);
  top: 0%;
}

.nav-element{
  padding: 5px;
  margin: 0px;
  color:azure;
}

.nav-container{
  border: 3px solid #190666;
  display: flex;
  /* height: 100%; */
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
}



.nav-element > a{
  text-decoration: none;
  color:azure;
}


.vertical-container{
  display: flex;
  flex-direction: column;
}

.tpm{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 12pt;
}


.Connect{
  border: 3px dashed #4c1408;
  display: flex;
  flex-direction: row;
  padding: 30px;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.dates{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#Skills{
  width: 300px;
}

#Message>form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* list-style: none; */

#Message>form>input, #Message>form>textarea{
  width: 60%;

}

button{
  font-style: bold;
  border-radius: 1px;
}

button:hover{
  background-color: aqua;
  font-size: large;
}


footer{
  text-align: center;
}

/* .resume{
  display: flex;
  flex-direction: row;
} */

/* 
.About {
  flex: 1;
}
.Experience{
  flex: 1;
}
.Skills{
  flex: 1;
}
.Projects{
  flex: 1;
}
.Connect{
  flex: 1;
} */

/* I will be designing this site desktop-first.
This is my settings for an ipad*/

@media (max-width: 1000px) {
  nav{
    background-color: rgb(42, 153, 209);
    font-size: 12;
    flex-direction: column;
  }

  .nav-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    padding: 5% 10%;
  }

  h2{
    font-size: 12;
    color: rgb(42, 153, 209) ;
  }

  body{
    margin: 2px;
    padding: 1px;
  }

  img{
    max-width: 50%;
    height: auto;
  }

  .tpm{
    font-size: 10pt;
  }

  

}

/* This is my mobile settings for an iphone*/

@media (max-width: 500px) {
  nav{
    background-color: rgb(10, 144, 21);
  }

  .nav-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    padding: 5%;
  }

  h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(10, 144, 21) ;
  }
  body{
    margin: 3px;
    padding: 3px;
    font-weight: 100;
  }
  img{
    max-width: 50%;
    height: auto;
  }

  .tpm{
    font-size: 10pt;
  }
}

/* Before the closing </head> tag, insert a <link> element with a rel attribute of "stylesheet" and an href attribute that specifies the relative path to your CSS file (i.e. css/index.css) */